@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
*{
    --Alizarin-Cirmson:#E21717;
    --Amaranth:#f1395b;
    --Tangaroa:#03203C;
    --Turquiose:#50DBB4;
    --Corn:#DDD101;
    --Bg:#CAD5E2;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--Bg);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 76px;
    align-items: center;
}
.items{
    display: flex;
    flex-direction: row;
    margin-right: 46px;
}
.item{
    list-style: none;
    font-size: 24px;
    padding: 10px 21px;
    margin: 7px 14px;
    display: flex;
    flex-direction: row;
}
.fa-soild {
    height: 30px;
    width: 30px;
}
.hire-btn{
    background-color: #002B5B;
    color: var(--Bg);
    filter: drop-shadow(-3px 21px 21px #000);
    font-size: 24px;
    padding: 18px 44px;
    border: none;
    border-radius: 16px;
}
.logo{
    filter: drop-shadow(-3px 21px 21px rgb(46, 46, 46));
}